* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, .button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #727272;
  line-height: 26.25px;
}
h2, h1 {
  color: black;
  font-weight: 500;
}
h1 {
  font-size: 48px;
}
.main-frame {
  width: 1150px;
  margin: 0 auto; 
}
/* @media screen and (max-width: 600px) {
  .header, .header__logo {
    width: 100%;
  }
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.header__logo {
  align-items: center;
  width: 96px;
  height: auto;
  padding-top: 50px;
}
.header__nav {
  padding-top: 79px;
}
.header__nav li {
  display: inline;
  padding: 21px;
}
.main-screen {
  padding-top: 140px;
  padding-bottom: 146px;
  display: grid;
  /* display: inline-grid; */
  grid-template-columns: repeat(2,1fr);
  /* justify-content: center;
  align-items: center; */
}
.main-screen p {
  padding: 60px 0px;
}
.main-screen__text {
  max-width: 540px;
  width: 100%;
  /* padding-left: 131px; */
}
.button-write {
  /* padding: 25px 41px; */
  height: 65px;
  width: 225px;
}
.about-me {
  text-align: center;
  max-width: 540px;
  width: 100%;
  padding-top: 119px;
  padding-bottom: 100px;
  /* padding-left: 305px;
  padding-right: 305px; */
}
.portfolio {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.portfolio img {
  width: 141px;
  height: auto;
}
.my-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 101px;
  padding-bottom: 100px;
}
.my-skills__avatar {
  width: 555px;
  height: 450px;
}
.how-i-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.how-i-work__text{
  max-width: 540px;
  width: 100%;
}
.how-i-work p {
  padding-top: 50px;
  padding-bottom: 57px;
  /* padding-left: 305px;
  padding-right: 305px; */
  
}
.how-i-work__video-frame {
  width: auto;
}
.pictures {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.pictures img {
  width: 100%;
  height: auto;
}
.job-app {
  max-width: 540px;
  width: 100%;
  text-align: center;
  padding: 100px 0px;
}
.job-app p {
  padding-top: 50px;
  padding-bottom: 65px;
  /* padding-left: 305px;
  padding-right: 305px; */
}
.job-app__form {
  display: grid;
  /* row-gap: 100px;
  column-gap: 100px; */
  /* background-color: rgba(255, 255, 255, 0.8);
  grid-template-columns: repeat(2, 1fr, ); */
  /* column-gap: 30px; */
  
}
.job-app__input-area {
  display: flex;
  justify-content: space-between;
}
.job-app__input-area input {
  width: 255px;
  height: 55px;
}
.job-app textarea {
  grid-column: 1 / -1;
  width: 100%;
  height: 175px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-send {
  height: 55px;
  width: 190px;
}

.footer__text {
  padding: 50px 0px;
}
.footer__text h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
}
.footer__text p {
  font-size: 13px;
  font-weight: 400px;
  line-height: 21.33px;
}

.header-box, .main-screen-box, .how-i-work-box, .job-app-box {
  background-color: #EEEFF1;
}

.pictures, .my-skills-box, .about-me-box {
  background-color: #E5E5E5;
}
.portfolio-box, .footer-box, .button {
  background-color: #34547A;
  color: white;
}