* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, .button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #727272;
  line-height: 26px;
}
h2, h1 {
  color: black;
  font-weight: 500;
  font-size: 32px;
}
h1 {
  font-size: 48px;
}
.main-frame {
  width: 1150px;
  margin: 0 auto; 
}
/* @media screen and (max-width: 600px) {
  .header, .header__logo {
    width: 100%;
  }
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 57px;
}

.header__logo {
  align-items: center;
  width: 96px;
  height: auto;
}
.header__nav li {
  display: inline; 
}
.header__nav a {
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-left: 42px;
  color: black;
}
.chosen {
  color: #34547A!important;
  font-weight: 500!important;
} 

.main-screen {
  padding-top: 140px;
  padding-bottom: 146px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
}
.main-screen img {
  justify-self: center;
  
}
.main-screen p {
  padding: 60px 0px;
}
.main-screen__text {
  max-width: 540px;
  width: 100%;
  padding-left: 15px;
}
.button-write {
  /* padding: 25px 41px; */
  height: 65px;
  width: 225px;
}
.about-me {
  text-align: center;
  max-width: 540px;
  width: 100%;
  padding-top: 119px;
  padding-bottom: 100px;
  /* padding-left: 305px;
  padding-right: 305px; */
}
.about-me p{
  padding-top: 50px;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}
.portfolio img {
  width: 141px;
  height: auto;
}
.my-skills {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 101px;
  padding-bottom: 100px;
}
.my-skills h2 {
  line-height: 37.5px;
  padding-top: 102px;
  padding-bottom: 50px;
}
.my-skills__range {
  max-width: 445px;
  height: 4px;
  padding-bottom: 60px;
}
.range li {
  list-style-type:none;
}
.range__background {
  width: 100%;
  position: relative;
  bottom: 4px;
}
.range__level {
  width: 78.5%;
  position: relative;
  bottom: 30px

}
.my-skills__avatar {
  width: 555px;
  height: 450px;
}
.how-i-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.how-i-work__text{
  max-width: 540px;
  width: 100%;
  padding-top: 100px;
}
.how-i-work p {
  padding-top: 50px;
  padding-bottom: 57px;
}
.how-i-work__video-frame {
  max-width: 1110px;
  width: 100%;
  padding-bottom: 100px;
}
.pictures {
  width: 100%;
  padding: 28px 0px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
.pictures img {
  width: 100%;
  height: 100%;
}
.job-app {
  max-width: 540px;
  width: 100%;
  text-align: center;
  padding: 100px 0px;
}
.job-app p {
  padding-top: 50px;
  padding-bottom: 65px;
}
.job-app__form input, textarea {
  /* display: grid; */
  border: none;
  padding-left: 20px;
}
.job-app__input-area {
  display: flex;
  justify-content: space-between;
}
.job-app__input-area input {
  width: 255px;
  height: 55px;
}
.job-app textarea {
  width: 100%;
  height: 175px;
}
.button-send {
  height: 55px;
  width: 190px;
  margin-top: 50px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 17px;
}
.footer__text {
  padding: 50px 0px;
}
.footer__text h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
  margin-bottom: 20px;
}
.footer__text p {
  font-size: 13px;
  font-weight: 400px;
  line-height: 21.33px;
}
.footer img {
  padding-left: 21.87px;
}

.header-box, .main-screen-box, .how-i-work-box, .job-app-box {
  background-color: #EEEFF1;
}

.pictures, .my-skills-box, .about-me-box {
  background-color: #E5E5E5;
}
.portfolio-box, .footer-box, .button {
  background-color: #34547A;
  color: white;
}